<%- include('../layout/home_header'); -%>

<main>
  <div class="uk-container uk-container-xsmall">
    <div class="uk-section uk-section-default">
      <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-3-4@s">
          <span class="uk-card-title"><%= session.user.fname%></span>
          <br>
          Joined: <%= moment(session.user.createdAt).format('Do MMM YYYY')%>
        </div>
        <div class="uk-width-1-4@s">
          <img src="<%= session.user.imageUrl%>" alt="user iamge" width="50%">
        </div>
      </div>

      <h3>Leaderboard Score</h3>
    </div>
  </div>
</main>

<%- include('../layout/home_footer'); -%>